@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #494949;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.right {
  float: right;
}

.left {
  float: left;
}

/*
-------------------------
HEADER STYLES
-------------------------
*/
header {
  background-color: #f7f7f7;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
  width: 800px;
  margin: auto;
  height: 100px;
  border-top: 4px solid red;
}

nav div {
  display: inline-block;
  line-height: 0;
  margin: 0 40px;
  flex: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  flex: 10;
}

nav li {
  display: inline-block;
  padding: 38px 15px 0 15px;
  height: 100px;
}

nav li:hover {
  background-color: red;
}

nav li:hover a {
  color: #f7f7f7;
}

nav a {
  display: block;
  color: #000;
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: 1.1rem;
}

.selected {
  color: red;
}

/*
-------------------------
MAIN CONTENT STYLES
-------------------------
*/
aside {
  width: 30%;
  margin: 150px auto 0;
  text-align: center;
  display: block;
}

aside h1 {
  font-size: 2.5rem;
}

aside h2 {
  font-weight: normal;
}

main {
  display: flex;
  width: 800px;
  margin: auto;
}

main img {
  padding: 5px;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}

section {
  width: 800px;
  margin: auto;
  display: flex;
}

section h4 {
  margin-bottom: 0;
}

section a {
  color: #494949;
}

.grid-col-one-third {
  width: 33%;
  display: inline-block;
}

.grid-col-two-third {
  width: 66%;
  display: inline-block;
}

.item-col-one-third {
  width: 40%;
  display: inline-block;
}

.item-col-two-third {
  width: 59%;
  display: inline-block;
}

.three-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.modern-layouts {
  flex: 3;
}

.whats-new {
  flex: 1;
  padding-right: 15px;
}

.popColor {
  color: red;
}

/*
-------------------------
FOOTER STYLES
-------------------------
*/
footer {
  display: flex;
  background-color: #f7f7f7;
  height: 100px;
  align-items: center;
  justify-content: center;
}
