@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

@mixin column-count($column) {
  -webkit-column-count: $column;
  -moz-column-count: $column;
  column-count: $column;
}

$textColor: #494949;
$headerColor: #f7f7f7;
$popColor: red;
$navLinkColor: #000;
$fontStack: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: $textColor;
  font-size: 14px;
  font-family: $fontStack;
}

.right {
  float: right;
}

.left {
  float: left;
}


/*
-------------------------
HEADER STYLES
-------------------------
*/

header {
  background-color: $headerColor;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
  width: 800px;
  margin: auto;
  height: 100px;
  border-top: 4px solid $popColor;

  div {
    display: inline-block;
    line-height: 0;
    margin: 0 40px;
    flex: 1;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    flex: 10;
  }

  li {
    display: inline-block;
    padding: 38px 15px 0 15px;
    height: 100px;
  }

  li:hover {
    background-color: $popColor;

    a {
      color: $headerColor;
    }
  }

  a {
    display: block;
    color: $navLinkColor;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 1.1rem;
  }
}

.selected {
  color: $popColor;
}


/*
-------------------------
MAIN CONTENT STYLES
-------------------------
*/

aside {
  width: 30%;
  margin: 150px auto 0;
  text-align: center;
  display: block;

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-weight: normal;
  }
}


main {
  display: flex;
  width: 800px;
  margin: auto;

  img {
    padding: 5px;
  }
}

.grow {
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

section {
  width: 800px;
  margin: auto;
  display: flex;

  h4 {
    margin-bottom: 0;
  }

  a {
    color: $textColor;
  }
}

.grid-col-one-third {
  width: 33%;
  display: inline-block;
}

.grid-col-two-third {
  width: 66%;
  display: inline-block;
}

.item-col-one-third {
  width: 40%;
  display: inline-block;
}

.item-col-two-third {
  width: 59%;
  display: inline-block;
}

.three-columns {
  @include column-count(3);
}

.modern-layouts {
  flex: 3;
}

.whats-new {
  flex: 1;
  padding-right: 15px;
}

.popColor {
  color: $popColor;
}

/*
-------------------------
FOOTER STYLES
-------------------------
*/

footer {
  display: flex;
  background-color: $headerColor;
  height: 100px;
  align-items: center;
  justify-content: center;
}
